.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #3d3d3d;
}

.container {
  display: flex;
  width: 90vw;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  background-color: #a0313100;
  border-radius: 18px; /* Rounded corners */
}

.candidate_row {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #000;
}

.no_candidates {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #f9f9f9;
  color: #000;
  width: 100%;
}

.artist_img {
  margin-left: 10px;
  border-radius: 5px;
}

.artist_name {
  margin-left: 20px;
  font-size: large;
  max-width: var(--max-width);
  font-family: var(--font-mono);
}

.vote_btn {
  margin-left: auto;
  margin-right: 15px;
  border-radius: 25px;
  background-color: #363636;
  font-size: medium;
  border: none;
  padding: 15px 20px 15px 20px;
}

#ty_screen {
  position: fixed;
  display: flex;
  background-color: rgb(139, 0, 144);
  top: -100%;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  transition: top 0.8s;
}

#ty_screen > button {
  background: none;
  border: none;
  margin-bottom: 20vh;
  color: rgb(0, 220, 240);
  text-decoration: underline;
  font-size: large;
}