.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 600px;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: #fff;
  overflow: hidden;
  margin: 40px;
}

.header {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  color: #f65cc3;
  font-family: 'Arial', sans-serif;
}

.navBtns {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.navBtns button {
  background-color: #ff8bff;
  color: #fff;
  border: none;
  padding: 15px 20px;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.navBtns button:hover {
  background-color: #ff65d4;
  transform: translateY(-2px);
}

.navBtns button:active {
  background-color: #ff65d4;
  transform: translateY(0);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 600px;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.formSection input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.formSection button {
  background-color: #ff8bff;
  color: #ffffff;
  border: none;
  padding: 15px 20px;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.formSection button:hover {
  background-color: #ff65d4;
  transform: translateY(-2px);
}

.formSection button:active {
  background-color: #ff65d4;
  transform: translateY(0);
}


#ty_screen {
  position: fixed;
  display: flex;
  background-color: rgb(139, 0, 144);
  top: -100%;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  transition: top 0.8s;
}

#ty_screen>button {
  background: none;
  border: none;
  margin-bottom: 20vh;
  color: rgb(0, 220, 240);
  text-decoration: underline;
  font-size: large;
}

.artistBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 60%;
  max-width: 400px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  margin-bottom: 1rem;
  font-family: 'Arial Black', sans-serif;
}

.artistInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artistName {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff8bff;
}

.artistCountry {
  font-size: 1rem;
  color: #fff;
  margin-top: 0.5rem;
}

.artistSong {
  font-size: 1rem;
  color: #fff;
  margin-top: 0.5rem;
}

.selectMenu {
  background-color: #510051;
  border: 1px solid #ff8bff;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  width: 100px;
}

.selectMenu option {
  background-color: #5e005e;
  color: #fff;
  padding: 10px;
}

.selectMenu option:hover {
  background-color: #ff8bff;
}

.selectMenu option:checked {
  background-color: #510051;
}

.selectMenu option[selected] {
  font-weight: bold;
  color: #ff8bff;
}

.vote_btns {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.vote_btns button {
  background-color: #ff8bff;
  margin-inline: 10px;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  background-position: center center;
  color: #fff;
  border: none;
  width: 1.8em;
  height: 1.2em;
  font-family: 'Arial', sans-serif;
  border-radius: 15px;
  transition: background-color 0.3s, transform 0.3s;
}

.vote_btns button:hover {
  background-color: #ff65d4;
  transform: translateY(-2px);
}

.vote_btns button:active {
  background-color: #ff65d4;
  transform: translateY(0);
}

.no_candidates {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #5e005e;
  color: #fff;
  width: 100%;
  border-radius: 12px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.loginForm h1 {
  font-size: 2rem;
  color: #ff8bff;
  margin-bottom: 1rem;
  font-family: 'Arial', sans-serif;
}

.inputField {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.logo {
  max-height: 200px;
  max-width: 100%;
}

.submitButton {
  background-color: #ff8bff;
  color: #fff;
  border: none;
  padding: 15px 20px;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.loginBtn {
  background-color: #ff8bff;
  color: #fff;
  border: none;
  padding: 15px 20px;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.submitButton:hover {
  background-color: #ff65d4;
  transform: translateY(-2px);
}

.submitButton:active {
  background-color: #ff65d4;
  transform: translateY(0);
}

.message {
  color: #fff;
  background-color: #ff4d4d;
  padding: 10px;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
}